body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toggle-btn {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: #312e2e;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
}
/* Styling for the inner circle */
.inner-circle {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 43px;
    height: 43px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
/* Styling for when button is toggled on */
.toggled .inner-circle {
    transform: translateX(50px);
}
.Heading{
    font-size: 60px;
    margin-top: 300px;
}